.services-one
	margin: 10px auto 0px auto
	padding: 0px
	box-sizing: border-box
	background-color: $grisoscuro2
	border-bottom: 1px solid $rojo
	.container
		margin: 0px auto
		padding: 0px
		box-sizing: border-box
		.row
			margin: 0px auto
			padding: 0px
			box-sizing: border-box
.coti
	box-sizing: border-box
	padding: 10px 0px 10px 0px
	margin: 0px
	font-size: 0.9em
	list-style: none
	border-radius: 4px
	background-color: $grisoscuro2
	color: $blanco
	.nf-form-cont
		.nf-form-title
			padding: 0px
			margin: 0px auto
			h3
				color: $blanco
				text-align: center
				text-transform: uppercase
				font-family: 'Open Sans', sans-serif
				background-color: $rojo
				padding: 10px
				border-radius: 4px
	.nf-form-layout
		.nf-after-form-content
			color: $oro
			nf-section
				.nf-form-errors
					color: $oro
					.nf-error-msg
						color: $oro
		.nf-form-content		
			nf-fields-wrap
				display: flex
				flex-flow: row wrap
				box-sizing: border-box				
				nf-field
					margin: 0
					padding: 5px
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(7),
					&:nth-child(8)
						padding: 10px
						width: 25%
						&:inner-spin-button,
						&:outer-spin-button
							webkit-appearance: none
							margin: 0px
					&:nth-child(9)
						width: 100%
						textarea
							max-height: 72px
							min-height: 72px
							max-width: 100%
							min-width: 100%
					&:nth-child(10)
						input[type="button"]
							background-color: $rojo						
							padding: 20px
							cursor: pointer
							color: $blanco
							border: 1px solid $rojo
							max-width: 200px
							min-width: 200px
							display: block
							&:hover
								background-color: $grisoscuro
								border: 1px solid $rojo
								transition: 0.5s ease
					.nf-after-field
						nf-section
							.nf-error-wrap
								background-color: $grisoscuro2
								padding: 3px 10px 3px 10px
								border-radius: 4px
								color: $oro
								.nf-error-msg
									color: $oro

.contenido-home
	background-color: $grisclaro
	padding: 20px
	.container
		padding: 0px
		.row
			background-color: $blanco
			padding: 0px
			.contenido-portada
				padding-right: 10px
				hr
					color: $azul
				h1
					color: $azul2
				h2
					color: $rojo
				h3
					color: $oro
			.contenido-laterales
				.widget
					list-style: none
				.suscription
					background-color: $rojo
					padding: 10px 20px 20px 20px
					h3
						text-align: center
						font-size: 1.2em
						color: $blanco
						font-family: 'Oswald', sans-serif
					h2	
						text-align: center
						font-size: 1.2em
						color: $oro
						font-family: 'Oswald', sans-serif
					input[type="submit"]
						background-color: $azul
						color: $blanco
						&:hover
							background-color: $oro
							color: $azul
							transition: 0.5s ease
					.allmsgs
						background-color: $blanco
						color: $azul
						border-radius: 3px
						padding: 10px
						.updated
							padding: 10px
							color: $azul
							background-color: $blanco
							border-radius: 3px
							border: 1px solid $rojo
				.payoptions
					margin-top: 10px
					padding: 10px 20px 20px 20px
					background-color: $azul
					h3
						text-align: center
						font-size: 1.2em
						font-family: 'Oswald', sans-serif
						color: $blanco
					h2	
						text-align: center
						font-size: 1.2em
						color: $azul
						font-family: 'Oswald', sans-serif
					.divpagos-contenido 
						overflow: hidden
						p
							color: $oro
							a
								display: block
								max-width: 300px
								img
									width: 100%
									height: auto
									&:hover
										filter: alpha(opacity=50)
										-moz-opacity: 1.0
										opacity: 0.5
										-khml-opacity: 1.0
										transition: 0.5s ease
										-o-transition: 0.5s ease
										-webkit-transition: 0.5s ease
										box-shadow: 0 0 8px rgba(0, 120, 240, 0.8)
										-webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8)
										-moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8)
						.wp-caption
							padding: 5px
							overflow: hidden
							width: 100%
							max-width: 300px
							img
								vertical-align: top
								margin: 0px auto
								width: 100%
								height: 100px
								display: block
				.lastnews
					background-color: $blanco
					margin-top: 10px
					padding: 10px 20px 20px 20px
					h3
						text-align: center
						background-color: $rojo
						color: $blanco
						padding: 10px
						font-size: 1.2em
						font-family: 'Oswald', sans-serif						
					.list
						padding: 5px
						margin-bottom: 5px
						padding-bottom: 9px
						overflow: hidden
						border-bottom: 1px solid #ffcc00
						text-transform: lowercase
						display: flex
						flex-flow: row wrap
						justify-content: space-between
						align-items: center
						box-sizing: border-box
						a
							&:first-letter
								text-transform: uppercase
						.thumb
							width: 20%
							img
								height: auto
								display: inline-block
								float: left
								margin-right: 7px
								box-shadow: 0 0 8px rgba(0, 0, 0, 0.8)
								-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8)
								-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8)
								border: 2px solid #ffffff
								width: 90%
								&:hover
									filter: alpha(opacity=50)
									-moz-opacity: 1.0
									opacity: 0.5
									-khml-opacity: 1.0
									transition: 0.5s ease
									-o-transition: 0.5s ease
									-webkit-transition: 0.5s ease
									box-shadow: 0 0 8px rgba(0, 120, 240, 0.8)
									-webkit-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8)
									-moz-box-shadow: 0 0 8px rgba(0, 120, 240, 0.8)
						.title
							&:first-letter
								text-transform: uppercase
						.title
							color: #000033
							line-height: 1.3em
							font-size: 1.1em
							text-decoration: none
							width: 78%
							&:hover
								color: #e74c3c
								transition: 0.5s ease
								-o-transition: 0.5s ease
								-webkit-transition: 0.5s ease
				.facetravel
					overflow: hidden
					border: none
					overflow: hidden
					max-width: 100%
					min-width: 100%
					margin: 0px auto 10px auto
					text-align: center
					padding: 15px
					iframe
						margin: 0px auto 10px auto
						text-align: center
						max-height: 395px
						min-height: 395px
					.face
						margin: 0px auto
						text-align: center
.contenido-portada,
.contenido-general
	.widget
		list-style: none
	hr
		color: #333333
	img
		max-width: 100%
		height: auto
		vertical-align: top
	.size-large
		margin: 0px auto
		width: 100%
		height: auto	
	.aligncenter
		margin: 0px auto
		display: block
		margin: 10px
	.size-full
		max-width: 100%
		margin: 10px 0px
	.alignleft
		float: left
		margin-top: 20px
		margin-right: 20px
		margin-bottom: 20px
	.alignright
		float: right
		margin-top: 20px
		margin-left: 20px
		margin-bottom: 20px

/*==================================*/

.contenido-home
	.container
		.row
			.contenido-general
				padding: 20px
				input[type="submit"]
					background-color: $rojo
					color: $blanco
					padding: 10px 20px
					&:hover
						background-color: $oro
						color: $azul
						transition: 0.5s ease
				hr
					color: $azul
				&:nth-child(2)
					padding: 50px
					color: $rojo
				h1
					color: $azul2
				h2
					color: $rojo
				h3
					color: $oro
			.conten
				.mapeo
					padding: 10px 0px
				.contenido
					border-bottom: 1px solid rgba($grisoscuro, 0.4)
					margin-bottom: 10px
					padding-bottom: 10px
					.title
						font-size: 1.5em
						font-family: 'Oswald', sans-serif
					.date-cat
						padding: 10px
						.fecha
							font-family: 'Oswald', sans-serif					
							font-size: 0.9em
							color: $azul
							.icon-date
								margin-right: 5px
								color: $rojo2
						.descripcion_categoria
							font-family: 'Oswald', sans-serif					
							font-size: 0.9em
							float: right
							text-align: right
							color: $azul
							.icon-file
								margin-right: 5px
								color: $rojo
					.thumb
						padding: 5px
					.info
						padding: 5px 10px 10px 10px