#totop
	display: none
	text-decoration: none
	position: fixed
	bottom: 40px
	margin-left: 640px
	overflow: hidden
	width: 43px
	height: 28px
	border: none
	text-indent: -999px
	z-index: 20
	background: url("../images/totop.png") no-repeat left 0
	transition: 0s ease
	-o-transition: 0s ease
	-webkit-transition: 0s ease
	&:hover
		outline: none
		background-position: right 0

footer
	background: $rojo
	padding: 25px 20px 40px 20px
	text-align: center
	.address
		color: $blanco
		p
			padding: 0px
			margin: 7px 0px
	.developer
		color: $blanco
		a
			color: $oro
			&:hover
				color: $azul
				transition: 0.5s ease
				text-decoration: none

