*
	margin: 0px
	padding: 0px
	box-sizing: border-box
body
	font-family: 'Open Sans', sans-serif
	color: $grisoscuro
	font-size: 16px
	background-color: $blanco

header
	background-image: url("../images/bg.jpg")
	background-size: cover
	background-position: center 0
	background-repeat: no-repeat	
.t-header
	display: block
	.head-tzone
		padding: 10px 0px
		background-color: rgba($blanco, 0.6)
		.logo-tzone
			.logo
				display: block
				width: 250px
				height: 72px
				background-image: url("../images/logo.png")
				background-repeat: no-repeat
				background-size: 100%
				transition: 0.5s ease				
				&:hover
					background-image: url("../images/logow.png")
					filter: alpha(opacity=50)
					-moz-opacity: 1.0
					opacity: 0.5
					-khml-opacity: 1.0
					transition: 0.5s ease
					-o-transition: 0.5s ease
					-webkit-transition: 0.5s ease
				img
					vertical-align: top
					max-height: 70px
					&:hover
						filter: alpha(opacity=50)
						-moz-opacity: 1.0
						opacity: 0.5
						-khml-opacity: 1.0
						transition: 0.5s ease
						-o-transition: 0.5s ease
						-webkit-transition: 0.5s ease
.busca-redes
	vertical-align: top
	display: flex
	flex-flow: row wrap
	justify-content: center
	align-items: center
	align-content: center
	padding: 10px 0
	font-size: 1em
	font-weight: bold
	.redes
		text-align: right
		.tredes
			display: inline-block
			font-weight: 500
			.t-cin
				display: flex
				flex-flow: column wrap
				justify-content: center
				align-items: center
				align-content: center
				text-align: center
				box-sizing: border-box
				width: 100%
				color: $grisoscuro
				font-weight: 600
				&:hover
					text-decoration: none
				.t-c
					width: 100%
				.t-n
					width: 100%
					display: block
					&:hover
						color: $rojo				
					.t-i
						margin-right: 10px
						color: $rojo
		.cfacebook
			display: block
			margin-left: 10px
			list-style: none
			text-decoration: none
			border-radius: 150%				
			background-color: $face
			color: $blanco
			&:hover
				background-color: $rojo
				transition: 0.5s ease
				color: $blanco
			.face
				text-align: center
				margin: 0px auto
				display: block
				text-decoration: none
				font-size: 20px
				border-radius: 100%
				padding: 7px 10px
	.busca
		text-align: right
/*==== cargando slide =========*/

@import menu
@import slide
@import forms

