
.lateral .list{
	padding:5px;
	margin-bottom: 5px;
	padding-bottom: 9px;
	overflow:hidden;
	border-bottom: 1px solid $celeste;
	text-transform: lowercase;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.lateral .list a:first-letter{
	text-transform: uppercase;
}

#iz #entradas #titulo_entradas{
	background-color:$celeste;
	padding: 24px 0px 17px 25px;
	box-sizing:border-box;
}

#iz #entradas #titulo_entradas h3{
	font-size: 1.1em;
	color:$blanco;
	font-family: 'oswaldbold';
	text-transform:uppercase;
	text-align: center;
}

.lateral .thumb{
	width: 20%;
	
}

.lateral .thumb img{
	height:auto;
	display:inline-block;
	float:left;
	margin-right:7px;
	@include sombra();
	@include borde(2px,$blanco);
	width: 90%;

}

.lateral .thumb img:hover{
	@include opacidad(50);
	@include transicion_a();
	@include sombra_hover();
}

.lateral .title{
	color: $azul;
	line-height: 1.3em;
	font-size: 1.1em;
	text-decoration:none;
	width: 78%;
}

.lateral .title:hover{
	color:$rosa;
	@include transicion_a();
}

.lateral .bla .title:first-letter{
	text-transform: uppercase;
}
